<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href = "/style.css">
    <link rel="stylesheet" href="/reset.css">
    <script src="/main.js"></script>
</head>
<body>
    <header class="header">
       
        <div class="wrapper">

            <div class="header__wrapper">
                <div class="logo_button">
                    <div class="header__logo">
                        <a href="{% url 'home' %}" class="header__logo-link">
                            <img src="/image_7-removebg-preview.png" alt="" class="header__logo-pic">
                        </a>
                    </div>
                </div>
                <nav class="header__nav">
                    <ul class="header__list">
                        
                        <li class="header__item">
                            <a href="" class="header__link" id="scrollUp">Избранное</a>
                        </li>
                        <li class="header__item">
                            <a href="" class="header__link">Корзина</a>
                        </li>
                        <li class="header__item">
                            <a href="{% url 'logout' %}" class="header__link">Выйти</a>
                        </li>
                        
                        <li class="header__item">
                            <a href="{% url 'register' %}" class="header__link">Регистрация</a> 
                            <a href="{% url 'auth' %}" class="header__link">Войти</a>
                        </li>
                        
                    </ul>
                </nav>
            </div>
            
        </div>
    </header>

    
    
    <div class="wrapper">
        <h1 id="before_block">О нас</h1>   
        <div class="aboutcom">
            <h1 class="about_title">
                Название команды
            </h1>
            <p class="about_text">
                Текст о команде 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus veniam explicabo obcaecati nulla eligendi recusandae eaque ducimus eum consequuntur in. Animi sequi eligendi obcaecati iste veritatis ipsa magni consequuntur magnam!

            </p>
        </div>

        <h1 id="before_block">Наша команда</h1>   

        <div class="grid_members_wrapper">
            <div class="member">
                <img src="/4213460-account-avatar-head-person-profile-user_115386.png" alt="" class="member_photo">
                <h1>
                    Имя фамилия
                </h1>
                <p>
                    Кратко об участнике
                </p>
            </div>
            <div class="member">
                <img src="/4213460-account-avatar-head-person-profile-user_115386.png" alt="" class="member_photo">
                <h1>
                    Имя фамилия
                </h1>
                <p>
                    Кратко об участнике
                </p>
            </div>
            <div class="member">
                <img src="/4213460-account-avatar-head-person-profile-user_115386.png" alt="" class="member_photo">
                <h1>
                    Имя фамилия
                </h1>
                <p>
                    Кратко об участнике
                </p>
            </div>
            <div class="member">
                <img src="/4213460-account-avatar-head-person-profile-user_115386.png" alt="" class="member_photo">
                <h1>
                    Имя фамилия
                </h1>
                <p>
                    Кратко об участнике
                </p>
            </div>
            <div class="member">
                <img src="/4213460-account-avatar-head-person-profile-user_115386.png" alt="" class="member_photo">
                <h1>
                    Имя фамилия
                </h1>
                <p>
                    Кратко об участнике
                </p>
            </div>
            <div class="member">
                <img src="/4213460-account-avatar-head-person-profile-user_115386.png" alt="" class="member_photo">
                <h1>
                    Имя фамилия
                </h1>
                <p>
                    Кратко об участнике
                </p>
            </div>
        </div>
        
        <h1 id="before_block">Наши товары</h1>    

        <div class="products">
            <div class="product_list">
                <a class="product" href="/drone1.html">
                   
                    <div class="description">
                        <h1 class="product_name">
                            Название дрона
                        </h1>
                        <p class="product_description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias unde labore modi accusamus nobis, consectetur rerum voluptas incidunt rem molestiae? Sunt at tenetur repellendus quasi corporis maxime, quisquam soluta nesciunt?
                        </p>
                    </div>

                    <img src="/71Rl8Rfd8vL._AC_SS450_.jpg" alt="" class="product_pic">
                </a>
            </div>
        </div>
        <footer>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod consequatur tenetur commodi repellendus iure voluptates, incidunt, beatae, nobis ex sint velit voluptatibus non placeat? Quis, necessitatibus. Deleniti, nisi non? Modi!</footer>
        </div>

</body>
</html>
