@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('/montserrat-v23-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/montserrat-v23-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

html *{
    font-family: 'Montserrat' !important;
}

body{
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #000;
    background-color: #F0F0F0;
    /* background-image: linear-gradient(90deg, rgb(13,223,211), rgb(19,204,255)); */
    
}

.wrapper{
    max-width: 1180px;
    margin: 0 auto;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}


.header__list{
    display: flex;
    flex-wrap: wrap;
    
}

.show {display:block;}


.logo_button{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__logo-pic{
    margin-right: 20px;
}


.header__item{
    margin-right: 10px;
    align-items: baseline;
}

.header__item:last-child{
    margin-right: 0px;
}

.header__list-pics{
    align-items: center;
}

.header__link{
    font-size: 20px;
    line-height: 24px;
    color: #000;
    text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active{
    opacity: .75;
}

.aboutcom{
    margin-top: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.aboutcom h1{
    
    font-size: 48px;
    background-color: #2AA5A0;
    background-image: linear-gradient(90deg, #2AA5A0, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   }

.aboutcom p{
    font-size: 20px;
}


#before_block{
    
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#before_block:first-child{
    margin-top: 80px;
}
.member_photo{
    width: 250px;
    height: 250px;
}

.grid_members_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 10px;
   grid-row-gap: 10px;
}

.member{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
}

.member h1{
    font-size: 24px;
}

.member p{
    font-size: 16px;
}

.product{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 10px 5px 5px darkgray;
    text-decoration: none;
    color: #000;
}

.product_name{
    font-size: 36px;
}

.product_description{
    font-size: 20px;
}


.product_pic{
    width: 350px;
    height: 350px;
    
}